<?php
defined('BASEPATH') OR exit('No direct script access allowed');

class {class} extends CI_Controller {

	public function index()
	{
		// 
	}

	public function show($id = NULL)
	{
		// 
	}

	public function create()
	{
		// 
	}

	public function update($id = NULL)
	{
		// 
	}

	public function delete($id = NULL)
	{
		// 
	}
}
